h1 {
  margin: 0;
  padding: 0;
  animation: 1.2s fadein-title;
}

#introduction,
#about {
  color: #eee;
  font-size: 2.5rem;
  width: 75%;
}

.flexbox {
  display: flex;
}

.flexbox-items {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
}

.fadein {
  animation: 1.5s fadein;
}

.loader {
  left: -50px;
  position: absolute;
  animation: 0.6s fadein-loader linear;
  background: linear-gradient(
    330deg,
    #e7e3ff 0%,
    #bcfcd9 25%,
    #87fed8 50%,
    #5dfffc 75%,
    #91c3ff 100%
  );
  width: 50px;
  height: 80em;
}

.title,
.item {
  margin-left: 2rem;
  padding: 0;
  text-align: left;
  background: #ffffff;
  background-color: #ffffff;
  background: linear-gradient(
    330deg,
    #e7e3ff 0%,
    #bcfcd9 25%,
    #87fed8 50%,
    #5dfffc 75%,
    #91c3ff 100%
  );
  background-clip: text;
  font-size: 8em;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.navigation {
  padding: 1rem;
  width: 80%;
  border: solid #fff;
  border-width: 0 0 3px 0;
  border-image: linear-gradient(
    330deg,
    #373333 0%,
    #bcfcd9 45%,
    #87fed8 60%,
    #5dfffc 85%,
    #91c3ff 95%
  );
  border-image-slice: 1;
}

.item {
  font-size: 1.6rem;
  padding: 0;
}

.item:hover {
  background-image: linear-gradient(
    330deg,
    #fde3ff 0%,
    #f3bcfc 25%,
    #fe87ce 50%,
    #ff9191 75%,
    #ff5d96 100%
  );
  background-size: 400% 400%;
  animation: buttonhighlight 2s ease infinite;
}

@keyframes buttonhighlight {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-webkit-keyframes buttonhighlight {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes fadein-title {
  0% {
    opacity: 0;
    transform: translateX(150px);
  }
  50% {
    opacity: 0;
    transform: translateX(150px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes fadein-title {
  0% {
    opacity: 0;
    transform: translateX(150px);
  }
  50% {
    opacity: 0;
    transform: translateX(150px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateX(75px);
  }
  50% {
    opacity: 0;
    transform: translateX(75px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
    transform: translateX(75px);
  }
  50% {
    opacity: 0;
    transform: translateX(75px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadein-loader {
  from {
    opacity: 1;
    left: 110%;
  }
  to {
    opacity: 1;
    left: -50px;
  }
}

@-webkit-keyframes fadein-loader {
  from {
    opacity: 1;
    left: 110%;
  }
  to {
    opacity: 1;
    left: -50px;
  }
}
