.navigation {
  padding: 1rem;
  width: 80%;
  border: solid #fff;
  border-width: 0 0 3px 0;
  border-image: linear-gradient(
    330deg,
    #373333 0%,
    #bcfcd9 45%,
    #87fed8 60%,
    #5dfffc 85%,
    #91c3ff 95%
  );
  border-image-slice: 1;
}

.item {
  font-size: 2rem;
  padding: 1rem;
}

@keyframes fadein-title {
  0% {
    opacity: 0;
    transform: translateX(150px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes fadein-title {
  0% {
    opacity: 0;
    transform: translateX(150px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateX(75px);
  }
  50% {
    opacity: 0;
    transform: translateX(75px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
    transform: translateX(75px);
  }
  50% {
    opacity: 0;
    transform: translateX(75px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
