@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");

body {
  background-color: #373333;
  background-image: linear-gradient(to bottom left, transparent 0%, #373333 20%),
    url("./images/dots.png");
  background-size: 100vw 100vh;
  font-family: "Oxygen", sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  body {
    overflow: auto;
  }
}
