@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");

body {
  background-color: #373333;
  font-family: "Oxygen", sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}
