@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");

body {
  background-color: #b9cde9;
  font-family: "Oxygen", sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.title {
  margin: 0;
  padding: 0;
  text-align: left;
  background: #150f35;
  background-color: #150f35;
  background: linear-gradient(
    330deg,
    #150f35 0%,
    #271037 25%,
    #231f63 50%,
    #1f2dc4 75%,
    #195cae 100%
  );
  background-clip: text;
  font-size: 10em;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.gradientbox {
  width: fit-content;
  background-color: #eee;
  border: solid 10px #150f35;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    330deg,
    #150f35 0%,
    #271037 25%,
    #231f63 50%,
    #1f2dc4 75%,
    #195cae 100%
  );
}
